<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>7bits second practice</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
</head>
<body>
<div class="post__body">
    <img class="post__picture" src="../images/forest.png">
    <img class="post-picture__small" src="../images/image.png">
    <div class="post__content">
        <div class="post-content__type">
            <p class="post-content__text">Adventures</p>
        </div>
        <h1 class="post-content__title">
            Awesome gallery post
        </h1>
        <div class="post-content__date">
            <p class="post-content__text">
                january 19, 2016
            </p>
        </div>
        <div class="post-content__link">
            <a class="post-link__address" href="/content">
                <span class="link__text">read more</span>
            </a>
        </div>
    </div>
    <div class="footer">
        <div class="comments__section">
            <img class="comments__icon" src="../images/Icon.png">
            <p class="comments__amount">02 comment</p>
        </div>
    </div>
</div>
</body>
</html>