<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <title>Title</title>
</head>
<body>
<div class="blog-post">
    <header class="blog-post__header">
        <h1 class="blog-post__title">discography</h1>
        <p class="blog-post__description">
            September 4 world heard Night Visions, the first full album. He reached the 2 position in the chart
            Billboard
            200. The single «It's Time» took 22 th place in the Billboard Hot 100, 4th in the Billboard Alternative and
            Billboard Rock, and now went platinum.
        </p>
    </header>
    <ul class="blog-post__albums">
        <li class="albums__item">
            <div class="albums__album">
                <span class="album__release-date">2010</span>
                <div class="album__name">hell and silence</div>
            </div>
            <div class="albums__about">
                <h2 class="albums__short-description">hell and silence is an EP by Las Vegas rock group</h2>
                <p class="albums__long-description">
                    Hell and Silence is an EP by Las Vegas rock group , released in March 2010 in the United States. It
                    was
                    recorded at Battle Born Studios. All songs were written by Imagine Dragons and self-produced. The EP
                    was
                    in part mixed by Grammy nominated engineer Mark Needham.
                    To promote the album the band performed five shows at SXSW 2010 including at the BMI Official
                    Showcase.While at SXSW they were endorsed by Blue Microphones. They also toured the western United
                    States with Nico Vega and Saint Motel. They also performed at Bite of Las Vegas Festival 2010, New
                    Noise
                    Music Festival, Neon Reverb Festival, and Fork Fest.
                </p>
                <a class="albums__play-button button" href="#">
                    play
                </a>
            </div>


        </li>
        <li class="albums__item">
            <div class="albums__album">
                <span class="album__release-date">2012</span>
                <div class="album__name">night visions</div>
            </div>
            <div class="albums__about">
                <h2 class="albums__short-description">Night Visions is the debut studio album by American rock band</h2>
                <p class="albums__long-description">
                    It was released on September 4, 2012 through Interscope Records. The extended track was released on
                    February 12, 2013, adding three more songs. Recorded between 2010 and 2012, the album was primarily
                    produced by the band themselves, as well as English hip-hop producer Alex da Kid and Brandon Darner
                    from the American indie rock group The Envy Corps. It was mastered by Joe LaPorta. According to
                    frontman Dan Reynolds, the album took three years to finish ...
                    of the album's tracks being previously released on multiple EPs. Musically, Night Visions exhibits
                    influences of folk, hip hop and pop.[2]
                </p>
                <a class="albums__play-button button" href="#">
                    play
                </a>
            </div>

        </li>
        <li class="albums__item">
            <div class="albums__album">
                <span class="album__release-date">2015</span>
                <div class="album__name">smoke + mirrors</div>
            </div>
            <div class="albums__about">
                <h2 class="albums__short-description">The album was recorded during 2014
                    at the band's home studio in Las Vegas, Nevada</h2>
                <p class="albums__long-description">
                    Self-produced by members of the band along with English hip-hop producer Alexander Grant, known by
                    his moniker Alex da Kid, the album was released by Interscope Records and Grant's KIDinaKORNER label
                    on February 17, 2015, in the United States.
                </p>
                <a class="albums__play-button button" href="#">
                    play
                </a>
            </div>
        </li>
    </ul>
    <footer class="blog-post__footer">
        <!--<img class="footer__background-image" src="../images/beautiful.png">-->
    </footer>
</div>
</body>
</html>