<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/Style.css">
    <title>Practice</title>
</head>
<body>
<div class="whole__picture">
    <div class="left__side">
        <img class="avatar" src="../src/images/avatar.png" alt="Image not found">
    </div>
    <div class="right__side">
        <div class="about-me">About me</div>
        <p class="about__me__text">
            I’m John Watson Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
    </div>
</div>
</body>
</html>